<div class="container">
  <div class="column is-6 is-offset-3"><div class="box has-background-white-ter">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <h2><%= t('.edit_user') %></h2>
        </div>
      </div>
    </article>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label t('devise.registrations.new.email') %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label t('devise.registrations.new.password')%> <i>(<%= t('.leave_blank') %>)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> <%= t('.characters') %></em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label t('.password_confirmation') %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label t('.current_password') %> <i>(<%= t('.ppass')%>)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit t('.update') %>
      </div>
    <% end %>

    <h3><%= t('.cancel') %></h3>

    <p><%= t('.unhappy') %> <%= button_to t('.cancel'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to t('giveaways.footer.back'), :back %>
  </div>
</div>