<section class="section" id="content">
    <div class="container">
        <h2><strong>Approved:</strong></h2><br>
        <div class="column has-text-centered">
        <% if @claimed_giveaways.empty? %>
            <p> <%= t('.no_giveaways') %> </p>
        <%else %>
            <div class="columns is-mobile is-multiline is-left">
                <% @claimed_giveaways.each do |giveaway|%>
                    <% if giveaway.approved_to == current_user.id%>
                        <%= render 'claimed_giveaways', giveaway: giveaway %>
                    <% end %>
                <% end %>
            </div>
        <% end %>
        </div>
        <h2><strong>Waiting aprroval:</strong></h2><br>
        <div class="column has-text-centered">
        <% if @claimed_giveaways.empty?%>
            <p><%= t('.no_giveaways') %></p>
        <%else %>
            <div class="columns is-mobile is-multiline is-left">
                <% @claimed_giveaways.each do |giveaway|%>
                    <% if giveaway.approved_to.nil?%>
                        <%= render 'claimed_giveaways', giveaway: giveaway %>
                    <% end %>
                <% end %>
            </div>
        <% end %>
        </div></br>
        <h2><strong>Rejected:</strong></h2><br>
        <div class="column has-text-centered">
        <% if @claimed_giveaways.empty?%>
            <p><%= t('.no_giveaways') %></p>
        <%else %>
            <div class="columns is-mobile is-multiline is-left">
                <% @claimed_giveaways.each do |giveaway|%>
                    <% if giveaway.approved_to != current_user.id && !giveaway.approved_to.nil?%>
                        <%= render 'claimed_giveaways', giveaway: giveaway %>
                    <% end %>
                <% end %>
            </div>
        <% end %>
        </div></br>
    </div>
</section>