<div class="container">
  <% if @user.errors.any? %>
  <div class="column is-6 is-offset-3">
    <article class="message is-danger">
      <div class="message-body">
          <% @user.errors.full_messages.each do |msg|%>
            <li><%= msg %></li>
          <% end %>
      </div>
    </article>
  </div>
  <% end %>
  <div class="column is-6 is-offset-3"><div class="box has-background-white-ter">
    <div class="content">
      <h4>New user</h4>
    </div>
    <%= form_with model: @user, local: true do |form| %>
      <div class="field">
        <%= form.label :name, 'Username', class: "label"  %>
        <div class="control">
          <%= form.text_field :name, required: true, class: "input", placeholder: "Username"  %>
        </div>
      </div>
      <div class="field">
        <%= form.label :email, class: "label" %>
        <div class="control">
            <%= form.email_field :email, required: true, class: "input", placeholder: "Email here"  %>
        </div>
      </div>

      <div class="field">
        <%= form.label :password, class: "label" %>
        <div class="control">
            <%= form.password_field :password, required: true, class: "input", placeholder: "Password here"  %>
        </div>
      </div>

      <div class="field">
        <%= form.label :password_confirmation, 'Confirm password', class: "label" %>
        <div class="control">
            <%= form.password_field :password_confirmation, required: true, class: "input", placeholder: "Confirm password"  %>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <%= form.submit class: "button is-link"  %>
        </div>
        <div class="control">
          <%= link_to 'Cancel', giveaways_path, class: "button is-link is-light" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
