<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to image_tag("/assets/212-2127438_decent-giveaways-png.png", class:"image is-128x128"),
        giveaways_path, class: "navbar-item" 
    %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if logged_in? %>
          <%= link_to 'Create New Giveaway', new_giveaway_path, class: "button is-primary has-text-weight-bold" %>
          <%= link_to 'Log Out', logout_path, method: :delete, class: "button is-primary" %>
          <% else %>
          <%= link_to 'Log In', login_path, class: "button is-primary has-text-weight-bold" %>
          <%= link_to 'Sign Up', users_signup_path, class: "button is-primary has-text-weight-bold" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>