<nav class="navbar" role="navigation" aria-label="main navigation">

  <%= link_to image_tag("/assets/giveaways2"), giveaways_path, class: "is-rounded navbar-brand image is-128x128" %>
  
  <div class="navbar-item">
    <div class="buttons">
      <%= link_to contacts_path, class:"button is-danger is-outlined" do %>
        <span class="icon">
            <i class="far fa-envelope"></i>
        </span>
        <span>Contact us</span>
      <% end %>
    </div>
  </div>

  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">

          <%= link_to giveaways_path, class:"button is-danger is-outlined" do %>
            <span class="icon">
                <i class="fa fa-home"></i>
            </span>
            <span><%= t('.home') %></span>
          <% end %>

          
          <% if user_signed_in? %>
            <%= link_to current_user.name.capitalize + '\'s ' + t('.dashboard'), dashboard_root_path, class: "button is-danger is-outlined" %>
            <%= link_to t('.log_out'), destroy_user_session_path, method: :delete, class: "button is-danger is-outlined" %>
          <% else %>
            <%= link_to t('.log_in'), new_user_session_path, class: "button is-danger is-outlined" %>
            <%= link_to t('.sign_up'), new_user_registration_path, class: "button is-danger is-outlined" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>