<footer class="modal-card-foot" style="justify-content: space-between">
  <%= link_to t('.back'), :back, class: "button is-outlined" %>
  <% if user_signed_in? && current_user != @giveaway.user %>
    <% if @giveaway.claims.find_by(user_id: current_user.id) %>
      <button class="button is-primary" title="Disabled button" disabled><%= t('.claimed') %></button>
    <% else %>
      <%= button_to t('.claim'), 
                    giveaway_claims_path(@giveaway), 
                    data: { confirm: t('.confirm_claim')},
                    class: "button is-primary" %>
    <% end %>
  <% end %>

  <% if user_signed_in? && current_user == @giveaway.user%>
    <p>
      <%= link_to edit_dashboard_giveaway_path(@giveaway) do %>
          <i class="fas fa-edit fa-2x"></i>
      <% end %>
    </p>

    <p>
      <%= link_to dashboard_giveaway_path(@giveaway), method: :delete,
        data: { confirm: t('.confirm')} do
      %>
      <i class="far fa-trash-alt fa-2x"></i>
      <% end %>
    </p>
  <% end %>
</footer>
