<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <div class="content is-small">
        <h2><%= heading %></h2>
      </div>
    </div>
    <% if @giveaway.errors.any? %>
      <div class="column is-6 is-offset-3">
        <article class="message is-danger">
          <div class="message-body">
            <ol>
              <% @giveaway.errors.full_messages.each do |msg|%>
              <li><%= msg %></li>
              <% end %>
            </ol>
          </div>
        </article>
      </div>
    <% end %>
    <div class="column is-6 is-offset-3">
      <%= form_with model: @giveaway, local: true do |f| %>
        <div class="field">
          <%= f.label :title, class: "label"%>
            <div class="control">
              <%= f.text_field :title, required: true, class: "input field_with_errors", placeholder: true %>
            </div>
        </div>
        <div class="field">
          <%= f.label :description, class: "description" %>
            <div class="control">
              <%= f.text_area :description, required: true, class: "textarea field_with_errors", placeholder: true, size: "50x10" %>
            </div>
        </div>
        <div class="field">
          <%= f.label :location, class: "label"%>
            <div class="control">
              <%= f.text_field :location, class: "input field_with_errors", placeholder: true %>
            </div>
        </div>
        <div class="field">
          <br>

          <p><%= t('.pictures') %></p>
          <% unless local_assigns[:new]%>
            <%= render 'pictures/picture', edit: true %>
          <% end %>

            <div data-controller="nested-form">
              <template data-target='nested-form.template'>
                <%= f.fields_for :pictures, Picture.new, child_index: 'TEMPLATE_RECORD' do |pic| %>
                  <%= render 'picture_fields', form: pic %>
                <% end %>
              </template>
            <br>
              <div data-target="nested-form.add_item">
                <%= link_to t('.add_picture'), "#", data: { action: "nested-form#add_association" } %>
              </div>
            </div>
            <br>
          <div class="field is-grouped">
            <div class="control">
              <%= f.submit t('.create'), class: "button is-link" %>
            </div>
            <div class="control">
              <%= link_to t('.cancel'), cancel_path, class: "button is-link is-light"%>
            </div>
          </div>
          <% end %>
        </div>
    </div>
  </div>
</div>