<h1>Edit Giveaway</h1>

<% if @giveaway.errors.any? %>
  <% @giveaway.errors.full_messages.each do |msg|%>
  <div>
    <li><%= msg %></li>
  </div>
  <% end %>
<% end %>

<%= form_with model: @giveaway, local: true do |giveaway| %>
  <p>
    <%= giveaway.label :title %><br>
    <%= giveaway.text_field :title %>
  </p>
  <p>
    <%= giveaway.label :description %><br>
    <%= giveaway.text_area :description, size: "50x10" %>
  </p>
  <p>
    <%= giveaway.label :location %><br>
    <%= giveaway.text_field :location %>
  </p>
  <p>
    <%= giveaway.submit "Update giveaway" %>
  </p>
<% end %>

<%= link_to "BACK", giveaways_path %>

