<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <div class="content is-small">
        <h2><%= @giveaway.title %></h2>
      </div>
    </div>
    <div class="column is-6 is-offset-3">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <p><%= @giveaway.description %></p>
            <code class="html"><small><%= @giveaway.location %></small></code>
          </div>
        </div>

          <div class="image is-256x256">
            <%= image_tag("/assets/212-2127438_decent-giveaways-png.png", class:"img-responsive") %><br>
          </div>
  
        <footer class="modal-card-foot" style="justify-content: space-between">
          <%= link_to 'Back', giveaways_path, class: "button is-light" %>
          <p style="margin-left:0.5em">
            <%= link_to edit_giveaway_path(@giveaway) do %>
                <i class="fas fa-edit fa-2x"></i>
             </p>
          <% end %>
          <p style="margin-left:0.5em">
            <%= link_to giveaway_path(@giveaway), method: :delete,
              data: { confirm: 'Are you sure you want to delete this giveaway?'} do
            %>
            <i class="far fa-trash-alt fa-2x"></i>
          <% end %>
          </p>
          <p>
            <%= link_to 'New Comment', new_giveaway_comment_path(@giveaway) %>
        </footer>
      </div>
    </div>
  </div>
</div>

<% @giveaway.comments.each do |comment| %>
  <div class="column is-6 is-offset-3">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= comment.commenter %></strong> <small><%= time_ago_in_words(comment.created_at) %> ago</small>
            <br>
            <%= comment.body %>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <%= link_to edit_giveaway_comment_path(comment.giveaway, comment),class:"level-item" do %>
              <span class="icon is-small"><i class="fas fa-edit"></i></span>
            <% end %>
            <a class="level-item">
              <span class="icon is-small"><i class="fas fa-trash-alt"></i></span>
            </a>
          </div>
        </nav>
      </div>
    </article>
  </div>
<% end %>