<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3"><div class="box has-background-white-ter">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h2><%= @giveaway.title %></h2>
            <p><%= @giveaway.description %></p>
            <p><code class="html"><%= @giveaway.location %></code></p>
            <%= render 'pictures/picture'%>
            <% @giveaway.pictures.each do |p|%>
              <%= image_tag p%>
            <% end %>
            <%= render 'footer' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <% @giveaway.comments.each do |comment| %>
    <%= render comment %>
  <% end %> 
</div>

