<div class="container">
  <div class="column is-6 is-offset-3"><div class="box has-background-white-ter">
    <div class="content">

      <div class="hero-body has-text-centered">
        <div class="login">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <% f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input is-medium ", placeholder:"hello@example.com" %>
            </div>
            <div class="field">
              <%f.label :password %>
                <%= f.password_field :password, autocomplete: "current-password", class:"input is-medium ", placeholder:"**********" %>
            </div>
            <br />
            <div class="actions">
              <%= f.submit "Log in", class:"button is-block is-fullwidth is-danger is-outlined "  %>
            </div>
          <% end %>
          <br>
          <nav class="level-item">
            <div class="has-text-centered">
              <%= render "devise/shared/links" %>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>